body {
	font-family: Arial;
}
form div {
	border-bottom: 1px solid lightblue;
	padding : 10px 0;
}
form div label {
	display: inline-block;
	width: 100px;
}
form div [type="text"] {
	border: 1px solid lightblue;
	padding : 10px;
}
.button {
	border: 1px solid lightblue;
	background-color: blue;
	padding : 10px;
	color: white;
	cursor: pointer;
}
form div [type] {
	width: 200px;
	display: inline-block;
}
.merah {
	background-color: red;
}
.hasil table {
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 20px;
}
.hasil td {
	border: 1px solid lightblue;
	padding : 10px;
	margin : 10px;
}
.container {
	position: relative;
}
.notifikasi {
	width: 500px;
	height: 100px;
	background-color: lightblue;
	position: absolute;
	left: -500px;
	text-align: center;
	color: white;
}
.notifikasi h2 {
	line-height: 70px;
}